// Main

main {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 50px;

  .pastas {

    width: 50%;

    h1 {

      font-size: 80px;
      color: darkblue;

    }

    .product {

      display: flex;
      flex-wrap: wrap;

      img {

        height: 150px;

        margin: 30px 30px 0 0;

      }
    }
  }

}
